params {
    analysis_id = 'gse61256_g4_100bp'
    outdir = 'results/g4_methylation_age_100bp'

    // Defaults run the public three-tissue GSE61256 methylation experiment.
    samplesheet = null
    geo_series = 'GSE61257:adipose,GSE61258:liver,GSE61259:muscle'

    g4_stable = '../G4Hunter/G4Hunter.hg38.stable.bed'
    g4_unstable = '../G4Hunter/G4Hunter.hg38.unstable.bed'
    g4_flank_bp = 100
    g4_long_quantile = 0.99
    g4_long_mad_multiplier = 3
    g4_long_min_bp = 0
    ucsc_goldenpath_dir = '/fdb/genomebrowser/goldenPath/hg38'
    rloop_bed = ''
    rloop_url = ''
    replication_timing_bed = ''
    replication_timing_url = ''
    cross_reactive_probes = ''
    cross_reactive_probes_url = ''
    include_g4_architecture = false

    probe_manifest = '../results/submission_v3/reference_manifest/probe_gene_manifest.csv.gz'
    min_samples = 2
    default_covariates = 'sex|bmi'
    slurm_partition = 'norm'
}

process {
    cpus = 2
    memory = '8 GB'
    time = '2h'

    withLabel: 'process_low' {
        cpus = 1
        memory = '4 GB'
        time = '30m'
    }

    withLabel: 'process_medium' {
        cpus = 2
        memory = '8 GB'
        time = '1h'
    }

    withLabel: 'process_high' {
        cpus = 4
        memory = '24 GB'
        time = '6h'
    }
}

profiles {
    standard {
        process.executor = 'local'
    }

    slurm {
        process.executor = 'slurm'
        process.queue = params.slurm_partition
        executor.queueSize = 50
        executor.submitRateLimit = '10 sec'
    }
}